.registerContainer{
    width: 300px;
    height: 250px;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.logo{
    display: flex;
    color: slateblue;
    align-items: center;
    font-weight: 700;
    font-size: larger;
}

.register{
    border:none;
    padding: 5px;
    border-radius: 5px;
    color: white;
    background-color: slateblue;
}

.register:hover{
    background-color: rgb(138, 126, 215);
    border-radius: 20px;
}

.success{
    color: green;
}
.failure{
    color: red;
}
.registerCancel{
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    color: slateblue;
}